@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

:root{
    --padding-container: 100px 0;
    --color-tittle: #001a49
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%,  #0000008c 100%), url('../Imagenes/Portada.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*nav*/ 

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_tittle{
    font-weight: 300;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}

.nav_links{
    text-decoration: none;
    color: white;
}

.nav_menu{
margin-left: auto;
cursor: pointer;
display: none;
}

.menu_img{
    display: block;
    width: 30px;

}

.nav_close{
    display: var(--show, none);
}

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1rem;
    padding-bottom: 100px;
    text-align: center;
}

.hero_tittle{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #356ec2;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/*about*/

.about{
    text-align: center;
}

.subtittle{
    color: var(--color-tittle);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about_icon{
    width: 40px;
    height: 35px;
    color: #356ec2;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

/*knowledge*/

.knowledge{
    background-color: antiquewhite;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge_picture{
    max-width: 500px;
}

.knowledge_img{
    width: 100%;
    display: block;
    border-radius: 60px;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

/*servicios*/

.servicios_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.servicios_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.servicios_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.servicios_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.servicios_text{
    max-width: 700px;
}

.bi-arrow-left{
    width: 90%;
    cursor: pointer;
    font-size: 2.85rem;
}

.bi-arrow-right{
    width: 90%;
    cursor: pointer;
    font-size: 3rem;
}

/*questions*/

.questions{
    text-align: center;
}

.questions_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions_padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions_padding--add{
    padding-bottom: 30px;
}

.questions_answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions_tittle{
    display: flex;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-tittle);
    justify-content: space-between;
    font-size: 20px;
}

.questions_arrow{
    border-radius: 50%;
    background-color: var(--color-tittle);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions_arrow--rotate {
  transform: rotate(180deg);
}


.bi-caret-up-fill{
    color: white;
    display: block;
}

.questions_show{
text-align: left;
height: 0;
}

/*footer*/

.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

.nav__link--footer {
  list-style: none;
  padding-left: 0;
}

.nav__link--footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; 
  list-style: none;
  padding-left: 0;
}

.nav__items {
  list-style: none;
}

/*queris*/
@media (max-width:800px){

     .servicios_container {
    grid-template-columns: 40px 1fr 40px;
    padding: 0 10px;
    align-items: center;
  }

  .bi-arrow-left,
  .bi-arrow-right {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicios_img {
    width: 200px;
    height: 200px;
  }

  .servicios_text {
    text-align: center;
  }
    .nav_menu {
        display: block;
    }

    .nav_link {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_tittle {
        font-size: 2.5rem;
    }

    .about_main {
        gap: 2em;
    }

    .about_icons:last-of-type {
        grid-column: 1/-1;
    }

    .knowledge_container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .servicios_container {
        grid-template-columns: 30px 1fr 30px;
    }

    .servicios_body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        justify-items: center;
        text-align: center;
    }

    .servicios_img {
        width: 200px;
        height: 200px;
    }

    .footer__container {
        flex-wrap: wrap;
        gap: 2em;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }
}

